<html>
<form>
<label>Titre</label>
<input name="Titre" placeholder="Titre">
<label>Date parution</label>
<input name="Date_parution">
 
<button type="submit"> Envoyer </button>




</form>







</html>